.navigation-region {
    display: flex;
    flex-direction: row;
    background-color: #124559;
    color: #F7FFF7;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    
  }
  
  .navigation {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #F7FFF7;
    width: 50%;
  }
  
  .navigation:hover{
    background-color: #598392;
    font-size: 16px;
    
  }
  
  .active {
    background-color: #598392;
  }

  .submit {
      display: flex;
      justify-content: center;
  }


  label {
    margin: 10px 0px 0px 0px;
    font-size: medium;
    color:  #01161E;
  }

  input[type=text], input[type=password] {
    width: 100%;
    margin: 0px 0px 8px 0px; 
    border: 1px solid #01161E;
    color: #01161E;   
    font-size: 15px; 
    padding: 7px 7px;
  }

  .submit button {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #124559;
    color: #F7FFF7;
    margin-right: 60px;
    margin-bottom: 10px;
  }

  button:focus {
    outline-color: #598392;  
  }
  

  input[type=text]:focus {
      outline-color: #598392;     
  }

  input[type=password]:focus {
    outline-color: #598392;     
}

.select .select-prefix__control {
    border: 1px solid #01161E;
    border-radius: 0px;
    margin: 0px 0px 8px 0px;
}

.select-prefix__indicators {
    background-color: #124559;
    color: #F7FFF7;
}

.select .select-prefix__option {
    color: #01161E;
}
    
    
.select .select-prefix__option--is-focused {
    background-color: #124559;
    color: #F7FFF7;
}

.select .select-prefix__option--is-selected {
    background-color: #598392;
}

.select .select-prefix__option:active {
    background-color: #124559;
}

.select .select-prefix__control--is-focused {
    box-shadow: 0 0 0 1px #598392;
    border-color: unset;
}

.select .select-prefix__control--is-focused:hover {
    border-color: unset;
}

.error {
  margin: 10px 0px;
  color: red;
}