.home-page-title {
    display: flex;
    justify-content: center;
    color: #124559;
    padding: 10px;
}

.all-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.all-posts .post {
    margin: 10px;
}


.post {
    /* border: 1px solid #22223b; */
    border-radius: 4px;
    background-color: white;
    color: #01161E;
    box-shadow: 0px 3px 6px #AEC3B0;
    max-width: 400px;
}

.post .post-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    border-bottom: 2px solid #598392;
}

.post-title {
    color: #124559;
    text-transform: capitalize;
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.posts-page {
    background-color: #F7FFF7;
}
.page {
    background-color: #F7FFF7;
    min-height: 100vh;
}

.description {
    margin: 7px;
    margin: 5px 10px;
    padding-bottom: 8px;
}

.likes {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}


.add-new-post-section {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 6px #AEC3B0;
    background-color: white;
    padding: 10px;
    width: 313px;
}

.title-add-new-post {
    align-self: center;
    background-color: #124559;
    color: #F7FFF7;
    padding: 6px;

}

.add button {
    margin: 0;
    align-self: center;
}


.posts-header {
    display: inline-block;
    background-color: #124559;
    color: #F7FFF7;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}


.link-to-my-profile,
.link-to-log-out,
.link-to-home {
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #F7FFF7;
    cursor: pointer;
}

.link-to-home {
    float: left;
}

.link-to-my-profile {
    float: right;
}

.link-to-log-out {
    float: right;
}

.link-to-my-profile:hover {
    background-color: #598392;
    font-size: 16px;
}

.link-to-home:hover {
    background-color: #598392;
    font-size: 16px;
}
.link-to-log-out:hover {
    background-color: #598392;
    font-size: 16px;
}

.active {
        background-color: #598392;
        
}

.add-post-image:focus,
.add-post-title:focus,
.add-post-description:focus {
    outline-color: #598392;
}


.modal button {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #124559;
    color: #F7FFF7;
}

.posts-page button {
    color: #F7FFF7;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #124559;

}

 .modal-button {
    color: #F7FFF7;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #124559;
    margin-left: 50vw;

}

.active-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    z-index: 9;
    
}

.container .modal {
    display: flex;
    justify-content: center;
}

.modal-background {
    z-index: 2;
    position:fixed;
    background-color: grey;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    opacity: 0.5;
}

.close {
    font-size: 28px;
    font-style: bold;
    float: right;
    color: #F7FFF7;
}

.close:hover {
    color: #124559;
    text-decoration: none;
    cursor: pointer;
  }


.close:focus {
    color: #124559;
    text-decoration: none;
    cursor: pointer;
    outline-color: #598392;
  }



