.home-page-title {
    display: flex;
    justify-content: center;
    color: #124559;
    padding: 10px;
}

.all-posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.all-posts .post {
    margin: 10px;
}

.home-button {
    display: flex;
    justify-content: flex-end;
}

.home-button button {
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #124559;
    color: #F7FFF7;
    margin-right: 60px;
}

.home-button button:hover {
    outline-color: #01161E;  
}

.post {
    /* border: 1px solid #22223b; */
    border-radius: 4px;
    background-color: white;
    color: #01161E;
    box-shadow: 0px 3px 6px #AEC3B0;
}

.post img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 4px 4px 0px 0px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
    border-bottom: 2px solid #598392;
}

.post-title {
    color: #124559;
    text-transform: capitalize;
    
}

.home {
    background-color: #F7FFF7;
}
.page {
    background-color: #F7FFF7;
    min-height: 100vh;
}

.description {
    margin: 7px;
    margin: 5px 10px;
}

.likes {
    margin: 10px 0px 0px 0px;
    font-size: 16px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
}